<b>New Carrental Menu</b>
<div><br></div>
<div class="tab">
    <button class="tablinks" onclick="openPage(event,'CarrentalServices')">
        Carrental Services
    </button>
    <button class="tablinks" onclick="openPage(event,'TypesOfCars')">
        Types Of Cars
    </button>
    <button class="tablinks" onclick="openPage(event,'CarResservation')">
        Car Reservation
    </button>
    <button class="tablinks" onclick="openPage(event,'ContactUs')">
        Contact Us
    </button>
</div>